*{
   margin: 0;
   padding: 0;
}
body{
   background-color: blueviolet;
}

.verdurasYfrutas{
   display: flex;
   flex-wrap: wrap;
   gap: 50px;
}

.estilosCarta{
   background: white;
   border: 5px solid black;
   border-radius: 12px;
   font-size: 80px;
   width: 250px;
   height: 200px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   -webkit-box-shadow: 10px 10px 5px 0px rgba(224,224,224,1);
-moz-box-shadow: 10px 10px 5px 0px rgba(224,224,224,1);
box-shadow: 10px 10px 5px 0px rgba(224,224,224,1);
}

.contenedorProducto{
   display: flex;
   flex-direction: column;
   align-items: center;
}

.contenedorProducto button{
   margin-top: 30px;
   padding: 10px 35px;
   font-size: 18px;
   border-radius: 100px;
}

.contenedorDeCarrito{
   display: flex;
   justify-content: space-between;
   width: 100%;
}

.mostrarListaDeCompras{
   height: 50%;
   width: 300px;
   display: flex;
   flex-direction: column;
   background-color: white;
   display: none;
}

.ocultar{
   display: none;
}
.mostrarCarrito{
   display: block;
}

.carrito img{
   width: 60px;
   cursor: pointer;
}

.imgCerrarCarrito{
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.imgCerrarCarrito img{
   width: 40px;
}

.productoAgregadoImg{
   width: 30px;
   display: none;
}

.productoAgregadoImgAnimacion{
   width: 30px;
   display: block;
}

.mostrarPrecio{
   display: flex;
   justify-content: space-between;
   border-bottom: 1px solid black;
   margin: 30px;
}

.total{
   font-size: 20px;
}